{% extends "core/skel.html" %}

{% load i18n %}

{% block header %}
<title>login - pyazo</title>
{% endblock %}

{% block body %}
<div class="login-wrapper">
  <form class="login" method="POST">
    <label class="title">
      pyazo
    </label>
    <label class="subtitle">
      {{ title }}
    </label>
    <div class="login-group">
      {% block messages %}
        {% if messages %}
          {% for msg in messages %}
            <div class="error {{ msg.level_tag }} active">
            {{ msg.message|safe }}
            </div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      <a href="{% url 'allaccess-login' 'supervisr' %}" class="btn btn-primary">{% trans "Login with Supervisr" %}</a>
    </div>
  </form>
</div>
{% endblock %}
