[MASTER]

disable=E0611,R0401,W0621,I0011,RP0401,I0021,arguments-differ,no-self-use
load-plugins=pylint_django
#,pylint.extensions.docparams,pylint.extensions.bad_builtin

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=20

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=
