[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
bumpversion = "*"
colorama = "*"
coverage = "*"
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"
unittest-xml-reporting = "*"
black = "*"
autopep8 = "*"
isort = "*"

[packages]
django-redis = "*"
user-agents = "*"
sentry-sdk = "*"
python-magic = "*"
celery = "*"
redis = "==3.5.3"
Django = "*"
PyYAML = "*"
Pillow = "*"
django-rest-framework = "==3.11.1"
mozilla-django-oidc = "*"
structlog = "*"
psycopg2-binary = "*"
gunicorn = "*"
uvicorn = "*"
drf-yasg = "*"
django-auth-ldap = "*"
future = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
