django==2.1.8
django-allauth
django-allauth-passbook
django-oauth-toolkit
django-cors-middleware
django-redis
django-influxdb-metrics
django-rest-framework
django-rest-swagger
django-auth-ldap
pytz
pymysql
cherrypy
user-agents
raven
python-magic
pyyaml
celery
redis
pillow==6.2.0
