{% extends "core/skel.html" %}

{% load i18n %}
{% load static %}
{% load is_active %}
{% load is_active_app %}
{% load gravatar %}

{% block body %}
<div class="main-container">
  {% block main_container %}
  {% block messages %}
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-app-level alert-{{ msg.level_tag }}">
    <button type="button" class="close" aria-label="Close" clrAlert>
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
      <div class="alert-text">
        {{ msg.message|safe }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
  <div class="content-container">
    <div class="clr-vertical-nav has-icons has-nav-groups is-collapsed">
      <button class="nav-trigger" type="button">
        <clr-icon class="nav-trigger-icon" shape="angle-double" dir="right"></clr-icon>
      </button>
      <div class="nav-content">
        <a class="nav-link {% is_active 'core' %}" href="{% url 'core-index' %}">
          <img src="{% static 'img/icon.png' %}" alt="" class="nav-icon">
          <span class="nav-text">{% trans "Home" %}</span>
        </a>
        <a class="nav-link {% is_active 'image-upload' %}" href="{% url 'image-upload' %}">
          <clr-icon class="nav-icon" shape="upload"></clr-icon>
          <span class="nav-text">{% trans "Upload" %}</span>
        </a>
        <clr-vertical-nav-group class="nav-group">
          <div class="nav-group-content">
            <button class="nav-group-trigger" type="button">
              <clr-icon class="nav-icon" shape="download"></clr-icon>
              <div class="nav-group-text">
                {% trans 'Download Client' %}
              </div>
              <clr-icon class="nav-group-trigger-icon" shape="caret" dir="right"></clr-icon>
            </button>
          </div>
          <div class="nav-group-children nav-group-children-hidden">
            <clr-vertical-nav-group-children>
              <a class="nav-link" href="{% url 'core-download_client_windows' %}">
                <span class="nav-text">
                  {% trans "Windows" %}
                </span>
              </a>
              <a class="nav-link" href="{% url 'core-download_client_macos' %}">
                <span class="nav-text">
                  {% trans 'mac OS' %}
                </span>
              </a>
              <a class="nav-link" href="{% url 'core-download-sxcu' %}">
                <span class="nav-text">
                  {% trans "ShareX" %}
                </span>
              </a>
            </clr-vertical-nav-group-children>
          </div>
        </clr-vertical-nav-group>
        {% if user.is_superuser %}
        <a class="nav-link {% is_active_app 'admin' %}" href="{% url 'admin:index' %}">
          <clr-icon class="nav-icon" shape="cog"></clr-icon>
          <span class="nav-text">{% trans "Admin" %}</span>
        </a>
        {% endif %}
        <clr-vertical-nav-group class="nav-group">
          <div class="nav-group-content">
            <button class="nav-group-trigger" type="button">
              <img class="nav-icon" src="{% gravatar user.email %}" alt="">
              <div class="nav-group-text">
                {{ user.username }}
              </div>
              <clr-icon class="nav-group-trigger-icon" shape="caret" dir="right"></clr-icon>
            </button>
          </div>
          <div class="nav-group-children nav-group-children-hidden">
            <clr-vertical-nav-group-children>
              <a class="nav-link" href="{% url 'admin:logout' %}">
                <span class="nav-text">
                  {% trans "Logout" %}
                </span>
              </a>
            </clr-vertical-nav-group-children>
          </div>
        </clr-vertical-nav-group>
      </div>
    </div>
    <div class="content-area">
      {% block content_area %}
      {% endblock %}
      <div class="container">
        {% block _content %}
        {% block content %}
        {% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    clrSidenav('.clr-vertical-nav');
  });
</script>
{% endblock %}
