{% extends "core/skel.html" %}

{% load i18n %}
{% load static %}
{% load is_active %}
{% load gravatar %}

{% block body %}
<div class="main-container">
  {% block main_container %}
  {% block messages %}
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-app-level alert-{{ msg.level_tag }}">
    <button type="button" class="close" aria-label="Close" clrAlert>
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
      <div class="alert-text">
        {{ msg.message|safe }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
  <header class="header header-1">
    <div class="branding">
      <a class="logo-and-title" href="{% url 'core-index' %}">
        <img src="{% static 'img/icon.png' %}" alt="" class="clr-icon clarity-logo is-info">
        <span class="title">pyazo</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav clr-nav-level-1">
      <a class="nav-link {% is_active 'core' %}" href="{% url 'core-index' %}">
        <span class="nav-text">{% trans "Home" %}</span>
      </a>
      <a href="{% url 'core-download_client_windows' %}" class="nav-link">
        <span class="nav-text">{% trans 'Download Client' %}</span>
      </a>
      {% if user.is_authenticated %}
      <a class="nav-link {% is_active 'admin' %}" href="{% url 'admin:index' %}">
        <span class="nav-text">{% trans "Admin" %}</span>
      </a>
      {% endif %}
    </div>
    <div class="settings">
      <span class="nav-link">
        <img class="branding" src="{% gravatar user.email %}" alt="">
      </span>
      {% if user.is_authenticated %}
      <div class="dropdown bottom-right">
        <button class="dropdown-toggle btn btn-primary" clrDropdown>
          {{ user.username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'admin:logout' %}">{% trans "Logout" %}</a>
        </div>
      </div>
      {% endif %}
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      {% block content_area %}
      {% endblock %}
      <div class="container">
        {% block _content %}
        {% block content %}
        {% endblock %}
        {% endblock %}
      </div>
    </div>
    {% block sidenav %}
    {% endblock %}
  </div>
  {% endblock %}
</div>
{% endblock %}
