{% extends "core/base.html" %}

{% load supervisr_title %}
{% load crispy_forms_tags %}
{% load fieldtype %}
{% load i18n %}

{% block title %}
{% supervisr_title title %}
{% endblock %}

{% block content %}
<div class="clr-wizard">
  <div class="modal static">
    <div class="modal-dialog modal-xl" role="dialog">
      <div class="modal-outer-wrapper">
        <div class="modal-content-wrapper">
          <nav class="modal-nav clr-wizard-stepnav-wrapper">
            <h3 class="clr-wizard-title">{{ title }}</h3>
            <div class="clr-wizard-stepnav">
              <ol class="clr-wizard-stepnav-list" role="tablist">
                {% for step in wizard.steps.all %}
                <li class="clr-wizard-stepnav-item clr-nav-link nav-item {% if step < wizard.steps.current %} complete {% endif %} {% if step == wizard.steps.current %} active {% endif %}" role="presentation">
                  <button type="submit" value="{{ step }}" class="btn btn-link clr-wizard-stepnav-link" type="button" {% if step < wizard.steps.current %} formnovalidate {% endif %}>
                    Step {{ step|add:1 }}
                  </button>
                </li>
                {% endfor %}
              </ol>
            </div>
          </nav>

          <form action="" method="post">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <a href="{{ back }}" class="btn btn-link" type="button">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </a>
                <h3 class="modal-title">
                  <span class="modal-title-text">{% trans wizard.form.title %}</span>
                </h3>
              </div>
              <div class="modal-body">
                <main class="clr-wizard-content">
                  <div role="tabpanel" id="clr-wizard-page-0" class="active clr-wizard-page">
                    <div class="form">
                      <section class="form-block">
                        <p>{% trans form.help_text %}</p>
                        {{ wizard.management_form }}
                        {% block form %}
                        {% for field in wizard.form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <div class="alert-item">
                            <span class="alert-text">
                              {{ error }}
                            </span>
                          </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                          {% if field.field.widget|fieldtype == 'RadioSelect' %}
                          {{ field.label_tag }}
                          {% for c in field %}
                          <div class="radio">
                            <input type="radio" id="{{ field.name }}-{{ forloop.counter0 }}" name="{{ wizard.steps.current }}-{{ field.name }}" value="{{ c.choice_value }}" {% if c.is_checked %} checked {% endif %}>
                            <label for="{{ field.name }}-{{ forloop.counter0 }}">{{ c.choice_label }}</label>
                          </div>
                          {% endfor %}
                          {% elif field.field.widget|fieldtype == 'Select' %}
                          {{ field.label_tag }}
                          <div class="select">
                            {{ field }}
                          </div>
                          {% elif field.field.widget|fieldtype == 'CheckboxInput' %}
                          <div class="checkbox">
                            {{ field }}
                            {{ field.label_tag }}
                          </div>
                          {% else %}
                          {{ field.label_tag }}
                          {{ field }}
                          {% endif %}
                        </div>
                        {% endfor %}
                        {% endblock %}
                      </section>
                    </div>
                  </div>
                </main>
              </div>

              <div class="modal-footer clr-wizard-footer">
                <div class="clr-wizard-footer-buttons">
                  <div class="clr-wizard-footer-buttons-wrapper">
                    <div class="clr-wizard-btn-wrapper">
                      <a aria-label="Close" class="btn clr-wizard-btn btn-link clr-wizard-btn--tertiary" type="button" href="{{ back }}">
                        {% trans "Cancel" %}
                      </a>
                    </div>
                    {% if wizard.steps.prev %}
                    <div class="clr-wizard-btn-wrapper">
                      <button name="wizard_goto_step" type="submit" class="btn btn clr-wizard" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Back" %}</button>
                    </div>
                    {% endif %}
                    <div class="clr-wizard-btn-wrapper">
                      <input type="submit" name="submit" class="btn clr-wizard-btn btn-primary clr-wizard-btn--primary" value="{% trans "Next" %}"></input>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div aria-hidden="true" class="modal-backdrop"></div>
  </div>
  {% endblock %}
