{% extends "core/base.html" %}

{% load i18n %}


{% block content_area %}
<div class="row">
  <div class="col-md-12">
    <h3>{% trans 'All Images' %}</h3>
    <hr>
  </div>
  {% for upl in images %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 col-xl-1">
      <a href="{% url 'core-image_view' file_hash=upl.sha512 %}" class="card clickable" style="background: url(.{% url 'core-thumb-view_sha512' file_hash=upl.sha512 %}) no-repeat center;min-width:100%;min-height:100px;"></a>
    </div>
  {% empty %}
    <p>No Pictures yet!</p>
  {% endfor %}
</div>
{% endblock %}
