{% extends "core/base.html" %}

{% load i18n %}

{% block header %}
<style>
  .pagination-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 12px;
    margin-top: -12px;
  }
  .card.clickable {
    min-width: 100%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card.clickable > .spinner {
    margin: 24px;
  }
</style>
{% endblock %}

{% block content_area %}
<div class="row">
  <div class="col-md-6">
    {% if not collection %}
      <h3>{% trans 'All Uploads' %}</h3>
    {% else %}
      <h3>
        {% blocktrans with collection=collection %}
        Uploads in '{{ collection }}'
        {% endblocktrans %}
      </h3>
    {% endif %}
  </div>
  <div class="col-md-6 pagination-container">
    {% include 'blocks/block_pagination.html' with pages=uploads %}
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  {% for upl in uploads %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 col-xl-1">
      <a href="{% url 'upload_view' file_hash=upl.sha512 %}" class="card clickable" data-url="{% url 'view_sha512' file_hash=upl.sha512 %}?thumb">
        <span class="spinner"></span>
      </a>
    </div>
  {% empty %}
    <p>No Uploads yet!</p>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  $(document).ready(function () {
    $('[data-url]').each(function (_, card) {
      var image = new Image;
      image.onload = function () {
        $(card).children().remove();
        $(card).css('background-image', 'url(..' + $(card).data('url') + ')');
      }
      image.src = $(card).data('url');
    });
  });
</script>
{% endblock %}