[Unit]
Description=pyazo - Open-Source Imageserver
After=syslog.target network.target
Requires=network.target

[Service]
User=pyazo
Group=pyazo
WorkingDirectory=/usr/share/pyazo
Type=simple
ExecStart=/usr/share/pyazo/pyazo.sh web

[Install]
WantedBy=multi-user.target
